<modal #modal [title]="'Sign up'" [labelCancel]="'Close'" [labelOk]="'Sing up'" [callbackOk]="!isConfirmRegistration ? save.bind(this): null" [callbackCancel]="callbackCancel.bind(this)">
  <form *ngIf="!isConfirmRegistration" (onHidden)="callbackCancel($event)" [formGroup]="form" novalidate (ngSubmit)="save()">
    <!-- name -->
    <input-component [form]="form" [AttempToSave]="AttempToSave" [name]="'Name'" [formControl]="name" [formControlName]="'name'" [validators]="getValidators('name')" ngDefaultControl></input-component>
    <!-- last name -->
    <input-component [form]="form" [AttempToSave]="AttempToSave" [name]="'Last Name'" [formControl]="last_name" [formControlName]="'last_name'" [validators]="getValidators('last_name')" ngDefaultControl></input-component>
    <!-- email -->
    <input-component [form]="form" [AttempToSave]="AttempToSave" [name]="'Your email'" [formControl]="email" [formControlName]="'email'" [validators]="getValidators('email')" ngDefaultControl></input-component>
    <!-- password -->
    <input-component [type]="'password'" [form]="form" [AttempToSave]="AttempToSave" [name]="'Your password'" [formControl]="password" [formControlName]="'password'" [validators]="getValidators('password')" ngDefaultControl></input-component>
    <!-- password retry-->
    <input-component [type]="'password'" [form]="form" [AttempToSave]="AttempToSave" [name]="'Retry password'" [formControl]="password_confirmation" [formControlName]="'password_confirmation'" [validators]="getValidators('password_confirmation')" ngDefaultControl></input-component>
  </form>
  <div *ngIf="isDublicateEmail" class="error">
    Email is dublicate
  </div>
  <h3 *ngIf="isConfirmRegistration">
    Please check your inbox messages for a confirmation email.
  </h3>
</modal>
