:host {
  display: inline-block;
  width: 100%;
}
.genre-card-root {
  cursor: pointer;
  border-radius: 4px;
  padding: 2px;
}
.genre-card_link {
  color: #d4d4d4;
}
.genre-card-root:hover {
  background: rgba(256,256,256, 0.4);
  color: black;
}
.is-select {
  color: #79d04e !important;
}
@media(max-width:460px){
  .music-cart_container .music-cart_box {
    height: 100px;
  }
}
