:host {

}

.genres-list-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(112, 192, 72, 0.9);
  color: #fff;
  width: 100%;
  padding: 10px;
}

.lists {
  display: flex;
  max-width: 520px;
  min-height: 240px;
}

genre-card {
  display: inline-block;
}

.hide_menu {
  position: absolute;
  right: 23px;
  top: 0;
  cursor: pointer;
}

.arrow_top {
  font-size: 50px;
}