<ng-template class="animate bounceInDown" #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <ng-content></ng-content>
  </div>
  <div class="modal-footer">
    <button *ngIf="callbackOk" type="button" class="btn btn-secondary" (click)="callbackOk()">{{labelOk || 'Ok'}}</button>
    <button type="button" class="btn btn-secondary" (click)="callbackCancel() || c('Close click')">{{labelCancel || 'Cancel'}}</button>
  </div>
</ng-template>
