.page__content {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-height: calc(100% - 150px);
  box-sizing: border-box;
  text-align: right;
  min-width: 970px;
}

.full-width .page__content {
  margin-left: 44px !important;
}

.header {
  display: inline-block;
  text-align: center;
  color: #333;
}
