<div class="header-root">
  <div class="header-logo"><img class="header-logo__img" src="/public/images/logo.png"></div>
  <h3 class="header-label">SELLFING music service</h3>
  <div class="header-login-container">
    <span *ngIf="userAuthData" class="header-login-header">Hello, {{userAuthData.name}}</span>
    <a (click)="signIn()" *ngIf="!userAuthData"  class="header-signin header-login-href">Sign in</a> |
    <a (click)="signUp()" *ngIf="!userAuthData"  class="header-signup header-login-href">Sign up</a>
    <a (click)="logout()" *ngIf="userAuthData" class="header-login-href">Logout</a>
  </div>
  <div class="header-menu">
    <a class="header-menu__item" [routerLinkActiveOptions]="{ exact: true }" routerLink="/" routerLinkActive="active">Home</a> |
    <a class="header-menu__item" routerLink="/stations" routerLinkActive="active">Listen music</a>
    <span *ngIf="userAuthData"> | </span>
    <a *ngIf="userAuthData" class="header-menu__item" routerLink="/favorites" routerLinkActive="active">Favorites</a> |
    <a class="header-menu__item" routerLink="/about" routerLinkActive="active">About us</a>
  </div>

</div>
<div class="header-special"></div>
