.header-root {
  width: calc(100% - 14px);
  height: 94px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: -moz-linear-gradient(top, rgba(249,249,249,0.78) 0%, rgba(249,249,249,0.72) 100%);
  background: -webkit-linear-gradient(top, rgba(249,249,249,0.78) 0%,rgba(249,249,249,0.72) 100%);
  background: linear-gradient(to bottom, rgba(249,249,249,0.78) 0%,rgba(249,249,249,0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7f9f9f9', endColorstr='#b8ffffff',GradientType=0 );
}

.header-logo {
  height: 90px;
  display: inline-block;
}

.header-logo__img {
  max-height: 100%;
  max-width: 100%;
}

.header-label {
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 0px 2px #7b7979;
  position: relative;
  z-index: 10;
  left: -43px;
  top: 5px;
}

.header-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: -20px;
  padding-right: 50px;
  box-sizing: border-box;
  font-size: 28px;
  background: #322e2d;
  color: #fff;
  padding-left: 50px;
  border-radius: 20px;
  margin-right: 20px;
  box-shadow: 1px 11px 8px -10px rgba(0, 0, 0, 0.75);
}

.header-menu__item {
  cursor: pointer;
  height: 100%;
  color: inherit;
}
.header-menu__item.active {
  text-decoration: underline;
}

.header-menu__item:hover {
  opacity: 0.8;
  text-decoration: none;
}
.header-special {
  height: 100px;
  width: 100%;
}
.header-login-container {
  position: absolute;
  top: 0;
  right: 20px;
}
.header-root .header-login-href {
  color: #c07947;
  cursor: pointer;
}
.header-login-header {

}
.genres-list-root,
.header-section-component {
  background: rgba(109, 104, 107, 0.9);
  margin-bottom: 0;
}
.select_genre {
  padding: 5px 10px;
  background: #70c048;
  color: #fff !important;
  border-radius: 10px;
  position: relative;
  left: 10px;
  top: 10px;
  cursor: pointer;
  box-shadow: 1px 11px 8px -10px rgba(0, 0, 0, 0.75);
}