<div (click)="selectStation()" class="music-cart-root">
  <a *ngIf="showCloseButton" (click)="close($event)" class="close-button">x</a>
  <div class="music-cart_box music-cart_is_selected">
    <div (click)="togglePlay($event)" *ngIf="isStationPlayed" class="played-section">
       <i [ngClass]="{'fa-play-circle-o' : !_isPlaying, 'fa-stop-circle-o': _isPlaying}" class="is-played fa"></i>
    </div>
    <div [ngStyle]="{'background-color': station.background}" class="music-cart_box_special">
      <span *ngIf="!getLogo() || station.URL_logo == 'none'" [ngStyle]="{color: station.labelcolor}" class="logo_text">{{station.name}}</span>
      <img *ngIf="getLogo() && station.URL_logo != 'none'" class="music-cart_img" src="{{getLogo()}}">
    </div>
    <div [ngStyle]="{'background-color': station.background, color: station.labelcolor}" class="music-cart_label">{{station.name}}</div>
  </div>
</div>
