.music-cart-root {
  padding: 0 10px 20px 10px;
  height: 210px;
  position: relative;
}

.music-cart_box_special {
  width: 100%;
  height: 160px;
  line-height: 160px;
  position: relative;
  text-align: center;
  background: black;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.music-cart_box_special:hover {
  transform: scale(1.1);
}

.music-cart_img {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  border: none;
  border-image-width: 0;
}

.music-cart_is_selected {
  filter: none;
}

.music-cart_box {
  border: 2px solid #919397;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 1px 14px 22px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 14px 22px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 14px 22px -5px rgba(0, 0, 0, 0.75);
}

.music-cart_box:hover {
  cursor: pointer;
}

.music-cart_label {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 10;
}

.logo_text {
  color: #5a64ff;
  font-weight: bold;
}

.played-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  text-align: center;
  z-index: 20;
  line-height: 160px;
}
.is-played {
  font-size: 60px;
  display: inline-block;
  width: 60px;
  height: 60px;
  color: #fff;
  vertical-align: middle;
}
.close-button {
  background: #453f3d;
  color: #fff! important;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: -7px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 30px;
  z-index: 100;
  cursor: pointer;
}
@media (max-width: 460px) {
  .music-cart_container .music-cart_box {
    height: 100px;
  }
}
