.detail-page-root {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(249,249,249);
  color: #333;
  padding-top: 110px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 80px;
  z-index: 99;
}
.datail-top-block {
  min-height: 300px;
  border-bottom: 1px solid #ccc;
}
.detail-logo {
  width: 338px;
  height: 210px;
  display: inline-block;
}
.datail-bottom-block{
  color: #333;
  padding: 20px 0;
}
.detail-station-name {
  display: inline-block;
  font-size: 30px;
}
.detail-info {
  height: 100%;
  display: inline-block;
  vertical-align: top;
  padding-top: 50px;
}
.detail-station-genre {
  padding: 0;
  margin: 0;
  color: #569a3d;
}
.detail-station-genres {

}
.hide-button-container {
  width: 100%;
  text-align: center;
}
.hide-button {
  cursor: pointer;
}