<div *ngIf="station" class="detail-page-root">
	<div class="datail-top-block">
		<div class="detail-logo">
			<music-card class="col-md-3 col-sm-4 col-xs-6" [showCloseButton]="true" [station]="station"></music-card>
		</div>
		<div class="detail-info">
			<div class="detail-station-name">
				{{station.name}}
			</div>
			<div class="detail-station-genres">
				Genres:
				<p class="detail-station-genre">{{getGenresName()}}</p>
			</div>
			<div class="detail-station-genres">
				Place:
				<p class="detail-station-genre">USA, California, Los Angeles</p>
			</div>
			<div class="detail-station-genres">
				Language:
				<p class="detail-station-genre">{{station.language.name}}</p>
			</div>
			<div class="detail-station-genres">
				Contacts:
				<p class="detail-station-genre">{{station.contacts}}</p>
			</div>
			<div class="detail-station-genres">
				Site:
				<p class="detail-station-genre"><a [href]="station.site">{{station.site}}</a></p>
			</div>
			<div class="detail-station-genres">
				Email:
				<p class="detail-station-genre">{{station.email}}</p>
			</div>

		</div>

	</div>
	<div class="datail-bottom-block">
		{{station.description}}
	</div>

</div>
