.header-root {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgba(256,256,256,0.9);
  border-bottom: 1px solid #fff;
}

.header-logo {
  height: 100px;
  display: inline-block;
}

.header-logo__img {
  max-height: 100%;
  max-width: 100%;
}

.header-label {
  display: inline-block;
}

.header-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0px;
  padding-right: 50px;
  box-sizing: border-box;
  font-size: 28px;
  background: #70c048;
  color: #fff;
  padding-left: 20px;
}

.header-menu__item {
  cursor: pointer;
  height: 100%;
  color: inherit;
}

.header-menu__item:hover {
  opacity: 0.8;
  text-decoration: none;
}
.header-special {
  height: 100px;
  width: 100%;
}
.header-login-container {
  position: absolute;
  top: 0;
  right: 20px;
}
.header-root .header-login-href {
  color: #c07947;
  cursor: pointer;
}
.header-login-header {
  margin-right: 10px;
}
