<modal #modal [title]="'Sign in'" [labelCancel]="'Close'" [labelOk]="'Sing in'" [callbackOk]="save.bind(this)" [callbackCancel]="callbackCancel.bind(this)">
    <form (onHidden)="callbackCancel($event)" [formGroup]="form" novalidate (ngSubmit)="save()">
        <!-- email -->
        <input-component [form]="form" [AttempToSave]="AttempToSave" [name]="'Your email'" [formControl]="email" [formControlName]="'email'" [validators]="getValidators('email')" ngDefaultControl></input-component>
        <!-- password -->
        <input-component [type]="'password'" [form]="form" [AttempToSave]="AttempToSave" [name]="'Your password'" [formControl]="password" [formControlName]="'password'" [validators]="getValidators('password')" ngDefaultControl></input-component>
    </form>
</modal>
