<div #scrollRef (scroll)="onScroll($event)" class="app-root">
  <header></header>
  <router-outlet></router-outlet>
  <sign-in></sign-in>
  <singUp></singUp>
</div>
<player></player>
<genre-list></genre-list>
<detail-music></detail-music>