<div class="form-group" [formGroup]="form">
  <label>{{name}}</label>
  <input [formControlName]="formControlName" (focus)="changed = true" (blur)="changed = false" [type]="type" class="form-control">
  <div class="errors" [hidden]="(formControl.valid || !formControl.touched || changed) && !AttempToSave">
    <p *ngFor="let validator of validators" [hidden]="checkHiddenError(validator)">{{validator.errorText}}</p>
  </div>
</div>