<div [ngClass]="{'player-active': visiblePlayer == 'showed'}" [@visibleGenresList]="visibleGenresList" class="genres-list-special">
    <div class="genres-list-menu">
        <div class="lists" *ngIf="genresChunks.length > 0">
            <div class="col-md-4 col-sm-4 col-xs-4">
                <genre-card [isSelect]="genreId == genre.id" [callbackSelect]="selectGenre" *ngFor="let genre of genresChunks[0]" [genre]="genre"></genre-card>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <genre-card [isSelect]="genreId == genre.id" [callbackSelect]="selectGenre" *ngFor="let genre of genresChunks[1]" [genre]="genre"></genre-card>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <genre-card [isSelect]="genreId == genre.id" [callbackSelect]="selectGenre" *ngFor="let genre of genresChunks[2]" [genre]="genre"></genre-card>
            </div>
            <a (click)="hideGenresList()" class="hide_menu"><i class="fa fa-arrow-circle-o-down arrow_top" aria-hidden="true"></i></a>
        </div>
    </div>
</div>