.genres-list-special {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding-right: 14px;
  width: 100%;
  box-sizing: border-box;
}

.genres-list-menu {
  background: rgba(89, 85, 84, 0.9);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.player-active {
  bottom: 70px;
}

.lists {
  display: flex;
  max-width: 550px;
  min-height: 240px;
}

genre-card {
  display: inline-block;
}

.hide_menu {
  position: absolute;
  right: 48px;
  top: 13px;
  cursor: pointer;
}

.arrow_top {
  font-size: 50px;
}