<div *ngIf="visiblePlayer == 'showed'" class="player-root" [@visiblePlayer]="visiblePlayer">
    <div *ngIf="showSoundButtonRound" class="player-volume-container">
        <div class="spiner-container">
            <span [ngStyle]="{bottom: volume+'px'}" (mousedown)="mousedown()" class="player-volume-button"></span>
        </div>
    </div>
    <a (mouseenter)="showSoundButtonRd()" (click)="mute()" [ngClass]="{'fa-volume-off': volume == 0,'fa-volume-up':volume > 0}" class="volume-icon fa"></a>
    <div (click)="showDetail()" *ngIf="stationPlayed" [ngStyle]="{'background-color': stationPlayed.background}" class="player-icon">
        <img *ngIf="getLogo()" class="music-cart_img" src="{{getLogo()}}">
    </div>
    <button *ngIf="stationPlayed" (click)="togglePlay()" [ngClass]="{'fa-play-circle-o': !_isPlaying, 'fa-stop-circle-o': _isPlaying}" class="play-button fa" aria-hidden="true"></button>
    <span *ngIf="stationPlayed" class="staion-name">{{stationPlayed.name}}</span>
    <div class="player_right_panel">
			<a class="fa fa-star favorites" (click)="addToFavorite()"><span [attr.data-tooltip]="'Add to favorites'"></span></a>
			<div (click)="showGenresList()" class="player-genres-select">Genres <span class="player-genres-name">({{getGenreName()}})</span></div>
    </div>
</div>