:host {

}

:host {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /*height: 70px; */
  z-index: 1000;
  padding-right: 14px;
  box-sizing: border-box;
}

.player-root {
  width: 100%;
  background: rgba(50, 46, 45, 1);
  text-align: left;
  line-height: 70px;
  height: 70px;
  padding: 0 52px;
  box-sizing: border-box;
  padding-right: 14px;
  position: relative;
}

.play-button {
  color: #fff;
  font-size: 50px;
  border: none;
  background: transparent;
  display: inline-block;
  vertical-align: middle;
}

.player-icon {
  height: 60px;
  width: 60px;
  line-height: 60px;
  text-align: center;
  background: #000000;
  border: 1px solid #fff;
  border-radius: 4px;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.music-cart_img {
  max-width: 90%;
  max-height: 90%;
  display: inline-block;
  border: none;
  border-image-width: 0;
  margin-bottom: 4px;
}

.logo_text {
  color: #5a64ff;
  font-weight: bold;
}
.staion-name {
  color: #fff;
}
.player_right_panel {
  position: absolute;
  right: 0;
  top: 0;
  height: 70px;
  display: inline-block;
}
.player-genres-select {
  background: #c9302c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin-right: 20px;
  border-radius: 20px;
  padding: 0 10px;
}
.player-volume-container {
  height: 130px;
  width: 30px;
  background: #a59393;
  border-radius: 10px;
  position: absolute;
  z-index: 200;
  display: inline-block;
  vertical-align: middle;
  bottom: 76px;
  left: 52px;
}
.spiner-container {
  height: 120px;
  width: 8px;
  background: #333;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  bottom: -3px;
  left: 11px;
  position: relative;
}
.player-volume-button {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  bottom: 0;
  left: -6px;
  background: #fff;
  cursor: pointer;
}
.volume-icon {
  font-size: 35px;
  color: #fff !important;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
}
.fa-volume-off {
  padding-right: 17px;
}
.favorites {
  font-size: 35px;
  color: #fff !important;
  vertical-align: middle;
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

[data-tooltip] {
  height: 100%;
  width: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
}
[data-tooltip]:after, [data-tooltip]:before {
  filter: alpha(opacity=0);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .18s ease-out .18s;
  transition: all .18s ease-out .18s;
  position: absolute;
  z-index: 10;
}
[data-tooltip]:after {
  font-family: sans-serif!important;
  font-weight: 400!important;
  font-style: normal!important;
  text-shadow: none!important;
  font-size: .8rem!important;
  background: #c9302c;
  border-radius: 4px;
  color: #fff;
  content: attr(data-tooltip);
  padding: .5em 1em;
  white-space: nowrap;
  bottom: 66px;
  left: calc(-20px);
}
[data-tooltip]:hover:after, [data-tooltip]:hover:before, [data-tooltip][data-tooltip-visible]:after, [data-tooltip][data-tooltip-visible]:before {
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  pointer-events: auto;
}
[data-tooltip]:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 8px 0 8px;
  border-color: #c9302c transparent transparent transparent;
  content: "";
  position: absolute;
  bottom: 56px;
  left: 8px;
}