.footer-root {
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  padding: 10px;
  background: #333;
  color: #fff;
  position: relative;
  margin-top: 50px;
}
.footer-rights {
  font-size: 14px;
  font-weight: normal;
}
