<div class="home-root">
  <h3 class="header-section-component" name="Why LemonAt?"></h3>
  <div class="user-offer-list">
    <div class="user-offer-root blue">
      Listen music
    </div>

    <div class="user-offer-root">
      Add to favorites
    </div>

    <div class="user-offer-root">
      Share to friends
    </div>

    <div class="user-offer-root">
      <div class="user-offer-text">Add stations</div>
    </div>

  </div>

  <div class="last-radios-root">
    <h3 class="header-section-component" name="Last added"></h3>
    <last-added-stations></last-added-stations>
  </div>
  <footer></footer>
</div>
