.home-root {

}
.last-radios-root {
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.music-card-component {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
}

.user-offer-list {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 0;
  padding: 20px;
  box-sizing: border-box;
}
.user-offer-text {
  display: inline-block;
  line-height: normal;
}
.user-offer-root {
  text-align: center;
  height: 500px;
  line-height: 300px;
  width: 24.4%;
  display: inline-block;
  box-sizing: border-box;
  font-size: 25px;
}
.user-offer-root:nth-of-type(1) {
  background: #65c4da;
}
.user-offer-root:nth-of-type(2) {
  background: #8367c0;
}
.user-offer-root:nth-of-type(3) {
  background: #da9730;
}
.user-offer-root:nth-of-type(4) {
  background: #da0103;
}