html, body, my-app {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  background: rgb(249,249,249);
}
my-app,
body{
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

button:hover {
  cursor: pointer;
}
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
my-app {
  position: relative;
  display: inline-block;
}

.app-root {
  display: inline-block;
  /* padding-bottom: 150px; */
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

footer {
  width: 100%;
}

.display_inline-block {
  display: inline-block;
}

.music-list {
  padding-bottom: 150px;
}
